@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


* {
   background-color:#e2e2e2;
   text-align: center; 
   margin: 20pt;
   padding: 2pt;
   font-size: 100%;
   font-family: 'Nova Square', cursive;
}

 h1 {
    font-size: 50px;
    background-color: #002032;
    color: #ffffff;
    margin-bottom: 5rem;
    align-content:flex-end;
}

h2 {
    font-size: 30px;
    color:green;
}

h3, p {
    font-size:20px;
    background-color:#c7d3d8;
    margin-bottom:40;
    margin-top: 60px;
    line-height: 50px;
    color:#767a76;
}

#btn-start {
    background-color:#ffdb9e;
    margin-top: 50px;
    font-weight: bold;
    color:#002032;
    font-size: 20px;
    display:inline-block;
    padding: 15px;
    border-radius: 8px;
    width: 200px;

}

#btn-start:hover {
    background-color: #104768;
    color: azure;
}

/* TODO: target btn-choice from the list*/
/* #btn-choice {
    background-color: #ffdb9e; 
    border-radius: 8px;
    color: #002032;
    display: none;
} */

#choice-1, #choice-2, #choice-3, #choice-4  {
    background-color: #ffdb9e;
    margin: 20px 10px 10px 10px;
    border: solid 3px black;
    border-radius: 8px;
    color: #002032;
    font-size: 20px;
    font-weight: bold;
    height: 65px;
    width: 200px;
    display: none;
}

#choice-1:hover, #choice-2:hover, #choice-3:hover, #choice-4:hover {
    background-color: #104768;
    color: azure;
}

h5 {
    background-color:#c7d3d8;
    margin-bottom:40;
    margin-top: 60px;
    line-height: 50px;
    color:#767a76;
}

#btn-submit-name {
    color: #002032;
    background-color:#ffdb9e;
    font-weight: bold;
    display:inline-block;
    padding: 15px;
    border-radius: 8px;

}

#btn-submit-name:hover {
    background-color: #104768;
    color: azure;
}




